<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ol>
        {% for advertisement in advertisements %}
            <li>
                {{ advertisement.title }} Цена: {{ advertisement.price }}
                <p> {{ advertisement.description }}</p>
                <p>Дата создания: {{ advertisement.created_at }}</p>
                <p>Количество просмотров: {{ advertisement.views_count }}</p>
            </li>
        {% endfor %}
    </ol>
    <form action="" method="post">
        {% csrf_token %}
        <input name="advertisement" type="text" placeholder="Текст объявления">
        <input type="submit" value="Добавить объявление">
    </form>
    <h3>Количество добавлений {{ advertisements_add_count }}</h3>
</body>
</html>