<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <a href="{% url "user_logout" %}">Выйти</a>
    <h2>{{ request.user.username }}</h2>
    <ol>
        {% for advertisement in advertisements %}
            <li>
                <a href="advertisement/{{ advertisement.id }}">{{ advertisement.title }}</a> Цена: {{ advertisement.price }}
                <p> {{ advertisement.description }}</p>
                <p>Дата создания: {{ advertisement.created_at }}</p>
                <p>Регионы: {% for region in advertisement.region.all %} {{region.name}}, {% endfor %}</p>
                <p>Тип: {{ advertisement.type.name }}</p>
                <p>Статус: {{ advertisement.status.name }}</p>
                <p>Количество просмотров: {{ advertisement.views_count }}</p>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <h3>Не авторизован</h3>
    <a href="{% url "user_login" %}">Войти</a>
    <a href="{% url "user_register" %}">Регистрация</a>
{% endif %}
</body>
</html>